{% extends "./partials/base.html" %}
{% load static %}

{% block content %}
<section class="container d-flex flex-column mt-5">
    {% if messages %}
    {% for message in messages %}
        <h2>{{message}}</h2>
    {%endfor%}
    {% endif %}
            <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
                <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                    <div class="card shadow">
                        <div class="card-body p-6">
                            <div class="mb-4">
                                <h1 class="mb-1 fw-bold">Sign up</h1>
                                <span>
                                    Already have an account?
                                    <a href="{% url 'login'%}" class="ms-1"> Sign In </a>
                                </span>
                            </div>
                            <form  action="{% url 'register-user' %}" method="POST" class="needs-validation" novalidate >
                                {% csrf_token %}

                                {% for field in form %}
                                <div class="mb-3">
                                    <label for="full_name" class="form-label">{{field.label}}</label>
                                    {{field}}
                                </div>
                                {%endfor%}

                                <div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Sign Up <i class="fas fa-user-plus ms-2"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
